footer{
    color: #ffffff;;
    display: block;
    position: absolute;
    width: 100%;
    min-width: 1024px;
    left: 0;
    bottom: 0;
    line-height: 30px;
    background-color: #2B2B2B;
    text-align: center;
    
}
